<div class="message-row agent-row typing-indicator-row">
    <div class="avatar avatar-jarvis faded">J</div>
    <div class="typing-dots">
        <span class="dot dot-1"></span>
        <span class="dot dot-2"></span>
        <span class="dot dot-3"></span>
    </div>
</div>
